<a href="https://colab.research.google.com/github/sauravJ14/exp/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df=pd.read_csv('593 salaries-by-college-major.csv')

In [ ]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [4]:
clean_data=df.dropna()

In [ ]:
clean_data['Starting Median Salary'].max()

74300.0

In [ ]:
clean_data['Starting Median Salary'].idxmax()

43

In [ ]:
clean_data['Undergraduate Major'].loc[43]

'Physician Assistant'

In [ ]:
clean_data.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

Question

```
What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

Which college major has the lowest starting salary and how much do graduates earn after university?

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree? 
```

In [27]:
print(clean_data['Mid-Career Median Salary'].max())
print(f"Index for the max mid career salary: {clean_data['Mid-Career Median Salary'].idxmax()}")
clean_data['Undergraduate Major'][8]

print(clean_data['Starting Median Salary'].idxmin())

print(clean_data['Starting Median Salary'].min())
clean_data['Undergraduate Major'].loc[clean_data['Starting Median Salary'].idxmin()]

107000.0
Index for the max mid career salary: 8
49
34000.0

'Spanish'

In [34]:
clean_data.loc[clean_data['Mid-Career Median Salary'].idxmin()]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [38]:
clean_data.groupby('Group').mean()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,
Business,44633.333333,75083.333333,43566.666667,147525.000000
HASS,37186.363636,62968.181818,34145.454545,129363.636364
STEM,53862.500000,90812.500000,56025.000000,157625.000000